*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Lato;
}
/* Header section start */
.width-height{
    height: 850px;
    width: 1920px;   
}
.header-container{
    background: rgba(229, 84, 115, 0.10);
    display: flex;
    align-items: center;
    padding-left:240px;
    padding-right: 240px;
    border: 2px solid #E554731A;
    justify-content:space-between;
    
   
}
.header-image-controls{
    width: 635px;
    height: 800px;
   
}
.header-image-section{
   padding-top: 50px;
}
.header-title{
    color: #272727;
    font-size: 80px;
    font-style: normal;
    font-weight: 800;
}
.header-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 32px;
}
/* All btn uses this class */
.btn-primary{
    margin-top: 32px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    height: 64px;
    width: 177px;
    border: 0px;

}
/* Main section Start */
.primary-title
{   text-align: center;
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-top: 240px;
}
.primary-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    padding-top: 32px;


}
.images-container{
    display: flex;
    /* padding: 0px 240px; */
    padding-left:240px;
    padding-right: 240px;
    justify-content: space-between;
    gap: 24px;
}
.images-sub-container{
    margin-top: 50px;
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
   
}
#image1-controls{
    margin-top: 110px;
    margin-left: 78px;
    margin-right: 78px;
}
#image2-controls{
    margin: 117px 47px 51px 47px; 
    
}
#image3-controls{
    margin-top: 67px;
    margin-left: 75px;
    margin-right: 75px;
}
.image-text-controls{
    margin-top: 32px;
    text-align: center;
    text-decoration: underline;
    color: #272727;
    font-size: 24px;
    font-weight: 700;

}
.marketing-container{
   display: flex;
   margin-top: 120px;
   margin-right: 240px;
   margin-bottom: 120px;
   margin-left: 240px;
   justify-content: space-between;
   border-radius: 8px;
   background-color: rgba(39, 39, 39, 0.05);
}

.marketing-element{
    height: 88px;
    width: 88px;
}
.delivery{
    padding-top: 86px;
    padding-left: 317px;
    text-align: center;

}
.stock{
    padding-top: 86px;
    text-align: center;
    padding-left: 250px;
    padding-right: 250px; 
}
.contract{
    padding-top: 86px;
    padding-right:232px; 
    text-align: center; 

}
.marketing-text-controls{
    padding-top: 24px;
    padding-bottom: 87px;
    color: rgba(39, 39, 39, 0.80);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;

}
/* section 2 start */
.banner-container{
    margin-top: 128px;
    display: flex;
    border-radius: 8px;
    padding-left: 420px;
    padding-right: 430px;
    background: rgba(229, 84, 115, 0.05);
    justify-content:space-between;
    text-align: center;
    align-items: center;
    gap: 215px;
}
.banner-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 32px;
}
.banner-description{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
     
}
.banner-textfiled{
    padding-top: 230px;
    padding-bottom: 160px;
}
.banner-image{
    padding-top: 100px;
    padding-bottom: 100px;

}
.title-special{
    color: #E55473;
}
/* section 3 Instagram */
.section3-container{
    display: flex;
    padding-left:240px;
    padding-right: 240px;
    margin-top: 50px;
    justify-content: space-between;
    gap: 24px;
    background: #FFF;
}
.section3-image-height-width{
    width: 342px;
    height: 396px;
}
.section3-sub-container{
    gap: 24px;
}
/* start contract section */
.contract-section{
    margin: 128px 240px;
    background-image: url("./Rectangle\ 9.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.contract-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 122px;
}
.contract-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 50px;
}
.input-controls{
    background-color: #FFFFFF;
    width: 500px;
    height: 64px;
    border-radius: 8px;
    border: 0px;
    padding-left: 22px;
    gap: 25px;
    
}
.email-button-container{
    display: flex;
    width: 50%;
    margin: auto;
    padding-bottom: 125px;
    flex-direction: row;
    gap: 25px;
    
} 
#btn-subscribe{
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    height: 64px;
    width: 177px;
    border: 0px;   
}
/* main section finish */
/* footer section start */
.footer-container{
    margin-top: 128px;
    color: #FFFFFF;
    background-color: #111010;
    display: flex;
    align-items: center;
    text-align: center;
    border: 0px;
    
}
.footer-element{
    width: 50%;
    margin: auto;
    padding-top: 128px;
}
.footer-title{
    color:#FFFFFF;
   font-size: 48px;
   font-style: normal;
   font-weight: 800;
}
.footer-description{
    color: rgba(255, 255, 255, 0.90);
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    padding-top: 24px;
   
}
#footer-des{
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-weight: 400;
    padding-top: 32px;
    padding-bottom: 120px;

}
#my-detail{
     text-align: center;
     padding-top: 15px;

}
/* Bonus section */
#primary-title{
    text-align: center;
    color:red;
    font-size: 40px;
    font-weight: 800;
    padding-top: 50px;
    padding-bottom: 50px;
}
.bonus-section{
    padding-left:240px;
    padding-right: 240px;
}
.btn-bonus{
    margin-top: 20px;
    border-radius: 8px;
    background: #E55473;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    height: 64px;
    width: 177px;
    border: 0px; 
}
.service{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}